<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>查看详细</title>
    <link rel="stylesheet" th:href="@{/static/layui/2.5.4/css/layui.css}" media="all" />
    <style>
        #all{
            margin: 20px auto;
            padding-left: 100px;
            padding-right: 100px;
        }
        #all > div > table > tbody >tr > td:nth-child(1),td:nth-child(3){
            text-align: right;
        }
    </style>
</head>
<body>
<div id="all">
<div class="layui-form">
    <table class="layui-table" >
        <colgroup>
            <col width="200">
            <col width="200">
            <col width="200">
            <col width="200">
        </colgroup>

        <tr>
            <td><span>姓名：</span></td>
            <td><span th:text="${student.name}"></span></td>
            <td><span>班级：</span></td>
            <td><span th:text="${student.clazz}"></span></td>
        </tr>
        <tr>
            <td><span>性别：</span></td>
            <td><span th:text="${student.sex} == 1 ? '男' : '女'"></span></td>
            <td><span >公司：</span></td>
            <td><span th:text="${student.company}"></span></td>
        </tr>
        <tr>
            <td><span>薪资：</span></td>
            <td><span th:text="${student.salary}"></span></td>
            <td><span>出生日期：</span></td>
            <td><span th:text="${#dates.format(student.birthDate,'yyyy-MM-dd')}"></span></td>
        </tr>
        <tr>
            <td><span>学历：</span></td>
            <td><span th:text="${student.education}"></span></td>
            <td><span >专业：</span></td>
            <td><span th:text="${student.major}"></span></td>
        </tr>
        <tr>
            <td><span>学校：</span></td>
            <td><span th:text="${student.school}"></span></td>
            <td><span>手机号：</span></td>
            <td><span th:text="${student.contactWay}"></span></td>
        </tr>


        <tr>
            <td><span >邮箱：</span></td>
            <td><span th:text="${student.email}"></span></td>
            <td><span>QQ或微信：</span></td>
            <td><span th:text="${student.onlineContact}"></span></td>
        </tr>


        <tr>
            <td><span>联系地址：</span></td>
            <td><span th:text="${student.address}"></span></td>
            <td><span>是否删除：</span></td>
            <td><span th:text="${student.deleted}== 1 ? '已删除' : '未删除'"></span></td>
        </tr>
        <tr>
            <td><span>是否锁定：</span></td>
            <td><span th:text="${student.locked}== 1 ? '已锁定' : '未锁定'"></span></td>
            <td><span>优先级：</span></td>
            <td><span th:text="${student.priority}"></span></td>
        </tr>

        </tbody>
    </table>
</div>
</div>
<script type="text/javascript" th:src="@{/static/layui/2.5.4/layui.all.js}"></script>

</body>
</html>