<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>新闻详情</title>
    <link rel="stylesheet" th:href="@{/static/layui/2.5.4/css/layui.css}" media="all" />
    <style>
        .top{
            display: block;
        }
    </style>
</head>
<body>
<form class="layui-form">
    <div class="layui-form-item">
        <label class="layui-form-label">新闻类型:</label>
        <div class="layui-input-inline">
            <select class="layui-input top" name="newsType">
                <option>-- 请选择 --</option>
                <option  th:each="c:${typesList}"  th:value="${c.typeName}" th:text="${c.typeName}" th:selected="${news?.newsType != c.typeName}?null:${news?.newsType}">普通职称</option>
            </select>
            <input type="hidden" name="uuid" th:value="${news?.uuid}"/>
            <input type="hidden" name="id" th:value="${news?.id}"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">新闻标题:</label>
        <div class="layui-input-inline">
            <input type="text" name="title" class="layui-input" th:value="${news?.title}"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">作者:</label>
        <div class="layui-input-inline">
            <input type="text" name="author" class="layui-input" th:value="${news?.author}"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">摘要:</label>
        <div class="layui-input-inline">
            <input type="text" name="summary" class="layui-input" th:value="${news?.summary}"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">信息来源:</label>
        <div class="layui-input-inline">
            <input type="text" name="infoSource" class="layui-input" th:value="${news?.infoSource}"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">新闻内容:</label>
        <div class="layui-input-inline">
            <input type="text" name="content" class="layui-input" th:value="${news?.content}"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">主图说明:</label>
        <div class="layui-input-inline">
            <input type="text" name="imageMemo" class="layui-input" th:value="${news?.imageMemo}"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">视频说明:</label>
        <div class="layui-input-inline">
            <input type="text" name="videoDesc" class="layui-input" th:value="${news?.videoDesc}"/>
        </div>
    </div>
</form>
</body>
<script th:src="@{/static/layui/2.5.4/lay/modules/jquery.js}"></script>
<script type="text/javascript" th:src="@{/static/layui/2.5.4/layui.js}"></script>
<script type="text/javascript">
    layui.use(['element','form'], function() {
        var element = layui.element, //元素操作
            form = layui.form //滑块
        // 操作对象
        var form = layui.form;
    });
</script>

</html>