<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>课程编辑</title>
    <link rel="stylesheet" th:href="@{/static/layui/2.5.4/css/layui.css}" media="all" />
    <style>
        .top{
            display: block;
        }
        #test2{
            margin-left: 110px;
        }
        .layui-quote-nm{
            border-style: none;
        }
    </style>
</head>
<body>
        <form class="layui-form" id="userForm" enctype="multipart/form-data">
            <div class="layui-form-item">
                <label class="layui-form-label">职称类型:</label>
                <div class="layui-input-inline">
                    <select class="layui-input top" name="positions">
                        <option>-- 请选择 --</option>
                        <option  th:each="c:${typesList}"  th:value="${c.typeName}" th:text="${c.typeName}" th:selected="${teacher?.positions != c.typeName}?null:${teacher?.positions}">普通职称</option>
                    </select>
                    <input type="hidden" name="id" th:value="${teacher?.id}"/>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">教师名称:</label>
                <div class="layui-input-inline">
                    <input type="text" name="name" class="layui-input" th:value="${teacher?.name}"/>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">性别:</label>
                <div class="layui-input-inline">
                    <select name="sex" id="sex">
                        <option value="1">-- 请选择 --</option>
                        <option value="1" th:selected="${teacher?.sex == 1} ? selected : null">男</option>
                        <option value="0" th:selected="${teacher?.sex == 0} ? selected : null">女</option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">出生日期:</label>
                <div class="layui-input-inline">
                    <input type="text" name="birthDate" id="test1" class="layui-input" th:value="${#dates.format(teacher?.birthDate, 'yyyy-MM-dd')}"/>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">手机号:</label>
                <div class="layui-input-inline">
                    <input type="number" name="contactWay" class="layui-input" th:value="${teacher?.contactWay}"/>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">邮件:</label>
                <div class="layui-input-inline">
                    <input type="text" name="email" class="layui-input" th:value="${teacher?.email}"/>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">联系方式:</label>
                <div class="layui-input-inline">
                    <input type="text" name="contactWay" class="layui-input" th:value="${teacher?.contactWay}"/>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">QQ号:</label>
                <div class="layui-input-inline">
                    <input type="text" name="onlineContact" class="layui-input" th:value="${teacher?.onlineContact}"/>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">联系地址:</label>
                <div class="layui-input-inline">
                    <input type="text" name="address" class="layui-input" th:value="${teacher?.address}"/>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">简介:</label>
                <div class="layui-input-inline">
                    <input type="text" name="memo" class="layui-input" th:value="${teacher?.memo}"/>
                </div>
            </div>
            <div class="layui-upload">
                <button type="button" class="layui-btn" id="test2">上传图片</button>
                <blockquote class="layui-elem-quote layui-quote-nm" style="margin-top: 10px;">
                    <div class="layui-upload-list" id="demoList3"></div>
                </blockquote>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button lay-submit lay-filter="submit" class="layui-btn">提交</button>
                </div>
            </div>
        </form>
</body>
<script th:src="@{/static/layui/2.5.4/lay/modules/jquery.js}"></script>
<script type="text/javascript" th:src="@{/static/layui/2.5.4/layui.js}"></script>
<script type="text/javascript">
        layui.use(['element','form', 'laydate', 'upload'], function() {
        var element = layui.element, //元素操作
            form = layui.form,//滑块
            laydate = layui.laydate,//日期
            upload = layui.upload;
        // 操作对象
        var $ = layui.jquery;

            //普通图片上传
            var demoListView3 = $('#demoList3'),
                uploadListIns3 = upload.render({
                elem: '#test2'
                ,accept: 'images' //指定允许上传时校验的文件类型
                ,url: '/admin/teacher/save'
                ,auto: false
                    ,choose: function(obj){
                        var files = this.files = obj.pushFile(); //将每次选择的文件追加到文件队列
                        //读取本地文件
                        obj.preview(function(index, file, result){
                            var tr = $(['<tr id="upload-'+ index +'">'
                                ,'<td><img src='+result+' style="width:60px;height:60px"></td>'
                                ,'<td>'+ (file.size/1014).toFixed(1) +'kb</td>'
                                ,'<td>等待上传</td>'
                                ,'<td>'
//             ,'<button class="layui-btn layui-btn-mini demo-reload layui-hide">重传</button>'
                                ,'<button class="layui-btn layui-btn-mini layui-btn-danger demo-delete">删除</button>'
                                ,'</td>'
                                ,'</tr>'].join(''));
                            //单个重传
                            tr.find('.demo-reload').on('click', function(){
                                obj.upload(index, file);
                            });
                            //删除
                            tr.find('.demo-delete').on('click', function(){
                                delete files[index]; //删除对应的文件
                                tr.remove();
                                uploadListIns3.config.elem.next()[0].value = ''; //清空 input file 值，以免删除后出现同名文件不可选
                            });
                            demoListView3.append(tr);
                        });
                    }
                    ,done: function(res, index, upload){
                        if(res.img != ''){
                            var tr = demoListView3.find('tr#upload-'+ index),tds = tr.children();
                            tds.eq(2).html('<span style="color: #5FB878;">上传成功</span>');
                            tds.eq(3).html(''); //清空操作
                            var str = '<input type="hidden" name="photo[]" value='+res.img+'>';
                            $('#demoList3').append(str);
                            return delete this.files[index]; //删除文件队列已经上传成功的文件
                        }
                        this.error(index, upload);
                    }
                    ,error: function(index, upload){
                        var tr = demoListView3.find('tr#upload-'+ index)
                            ,tds = tr.children();
                        tds.eq(2).html('<span style="color: #FF5722;">上传失败</span>');
                        tds.eq(3).find('.demo-reload').removeClass('layui-hide'); //显示重传
                    }
            });


            form.on('submit(submit)',function (data) {
                var fd = new FormData();
                var formData = new FormData($( "#userForm" )[0]);
                console.log(data.field);
                $.ajax({
                    cache : true,
                    url:'/admin/teacher/save',
                    data:formData,     // 你的formid
                    dataType:'text',
                    contentType: false,//ajax 中 contentType 设置为 false 是为了避免 JQuery 对其操作，从而失去分界符，而使服务器不能正常解析文件
                    processData: false,//当设置为true的时候,jquery ajax 提交的时候不会序列化 data，而是直接使用data
                    type:'post',
                    success:function (data) {
                        if (data == '1'){
                            //location.href = "index.jsp";
                            layer.msg('编辑成功');
                            var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                            setTimeout(function () {
                                parent.layer.close(index);
                            }, 2000);
                        }else{
                            //location.href = "login.jsp";
                            layer.msg('编辑失败');
                        }
                    }
                })
                return false;
            })

            //执行一个laydate实例
            laydate.render({
                elem: '#test1', //指定元素
                trigger: 'click', //添加这一行来处理
                done: function(value, date, endDate){
                    $self.form.createTime = value;
                }
            });

        });
</script>

</html>