.bold {font-weight: 900;}
.divBody {
	background: url(../images/paginating_bg.png) repeat-x;
	border-top: 2px solid #FE7C2C;
	height: 80px;
	width: 100%;
	text-align: center;
}
.divContent {
	line-height: 20px;
}
.spanBtnSelect {
	border: 1px solid #F75A00; 
	color: #FFFFFF;
	background-color: #FE7C2C; 
	text-align:center; 
	text-decoration: none;
	width: 40px;
}
.aBtn {
	border: 1px solid #c1c1c1;
	text-align:center; 
	background-color: #FFFFFF; 
	color: #555555;
	text-decoration: none;
	width:60px;
	height: 27px;
	border-radius: 3px;
}
.spanBtnDisabled {
	border: 1px solid #c1c1c1;
	text-align:center; 
	background-color: #FFFFFF; 
	color: #c1c1c1;
    font-weight: 700;
    width: 60px;
    height: 27px;
}
.spanApostrophe {
	font-family: Arial;
}
.aBtn:HOVER {
	border: 1px solid #F75A00;
	background-color: #FE7C2C; 
	color: #FFFFFF;

}

.inputPagecode {
	border: 1px solid red;
	background-color:red;
	width: 33px;
	height:33px;
	text-align:center;
	border-radius: 3px;
}
.aSubmit {
	border: 1px solid #c1c1c1;
	color: #555555;
	text-decoration: none;
}
.aSubmit:HOVER {
	border: 1px solid #c1c1c1;
	color: #555555;
	background: url(../images/qd.png) repeat-x;
}
