<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        input {
            border：none;

        }
        #titile {
            margin: auto;
            font-size: 30px;
            position: relative;
            left: 500px;
        }
    </style>
</head>
<link rel="stylesheet" th:href="@{/static/layui/2.5.4/css/layui.css}" media="all"/>
<link rel="stylesheet" th:href="@{/static/layui/2.5.4/css/index.css}"/>
<body>
<div id="titile"> <span th:text="${user?.getUserName()}"></span><span>:你的个人信息</span></div>
<div class="layui-form">
    <table class="layui-table">
        <thead>
        <tr>
            <th>用户名：<!--/*@thymesVar id="user" type=""*/-->
            <!--/*@thymesVar id="getUserName" type=""*/-->
            <span th:text="${user?.getUserName()}"></span></th>
            <th>真实姓名：<!--/*@thymesVar id="user" type=""*/-->
            <!--/*@thymesVar id="getRealName" type=""*/-->
            <span th:text="${user?.getRealName()}"></span></th>
            <th>用户类型：<span th:text="${c?.getTypeName() == '103'? '学生类型':'教师类型'}"></span></th>
            <th>密码：<span th:text="${user?.getPassWord()}"></span></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>性别：<span th:text="${user?.getSex() == '1' ? '男':'女'}"></span></td>
            <td>年龄：<span th:text="${user?.getAge()}"></span></td>
            <td>生日：<span th:text="${user?.getBirthday()}"></span></td>
            <td>职位：<span th:text="${user?.getPositions()}"></span></td>
        </tr>
        <tr>
            <td>手机号码：<span th:text="${user?.getMobile()}"></span></td>
            <td>邮箱：<span th:text="${user?.getEmail()}"></span></td>
            <td>登录次数：<span th:text="${user?.getMobile()}"></span></td>
            <td>最后登录ip：<span th:text="${user?.getLastLoginIp()}"></span></td>
        </tr>
        <tr>
            <td>最后登陆时间：<span th:text="${user?.getLastLoginTime()}"></span></td>
            <td>添加时间：<span th:text="${user?.getCreateTime()}"></span></td>
            <td>是否锁定：<span th:text="${user?.getLocked() == '1' ? '为锁定':'已锁定'}"></span></td>
            <td>是否删除：<span th:text="${user?.getDeleted() == '1' ? '未删除':'已删除'}"></span></td>
        </tr>

        </tbody>
    </table>
</div>

</body>
<script th:src="@{/static/layui/2.5.4/lay/modules/jquery.js}"></script>
<script type="text/javascript" th:src="@{/static/layui/2.5.4/layui.js}"></script>
<script th:src="@{/static/layui/2.5.4/index.js}"></script>
<script th:src="@{/static/layui/2.5.4/cache.js}"></script>
</html>