<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/static/layui/2.5.4/css/layui.css}" media="all"/>
    <link rel="stylesheet" th:href="@{/static/layui/2.5.4/css/index.css}"/>
</head>
<body>


<div class="demoTable">
    根据创建时间搜索：
    <div class="layui-inline">
        <input class="layui-input" name="startTime" id="starttime">
    </div>
    到
    <div class="layui-inline">
        <input class="layui-input" name="endTime" id="endtime">
    </div>
    根据id：
    <div class="layui-inline">
        <input class="layui-input" name="id" id="id">
    </div>
    根据用户名：
    <div class="layui-inline">
        <input class="layui-input" name="userName" id="userName">
    </div>
    根据年龄：
    <div class="layui-inline">
        <input class="layui-input" name="age" id="age">
    </div>
    <form class="layui-form" style="width: 350px" >
    查询已经删除的：
    <div class="layui-form-item">
        <label class="layui-form-label"></label>
        <div class="layui-input-block">
            <select name="interest" lay-filter="deleted" id="deleted">
                <option value=""></option>
                <option value="1">已删除的</option>
            </select>
        </div>
    </div>
    </form>
    <button class="layui-btn" data-type="reload">搜索</button>
</div>


<script type="text/html" id="barDemo">
    <!--<a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>-->
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<table class="layui-hide" id="demo" lay-filter="test"></table>


</body>
<script th:src="@{/static/layui/2.5.4/lay/modules/jquery.js}"></script>
<script type="text/javascript" th:src="@{/static/layui/2.5.4/layui.js}"></script>
<script th:src="@{/static/layui/2.5.4/index.js}"></script>
<script th:src="@{/static/layui/2.5.4/cache.js}"></script>
<script>
    layui.config({
        version: '1574611511008' //为了更新 js 缓存，可忽略
    });

    layui.use(['laydate', 'laypage', 'layer', 'table', 'upload', 'element', 'slider','form'], function () {
        var laydate = layui.laydate //日期
            , laypage = layui.laypage //分页，
            , layer = layui.layer //弹层
            , table = layui.table //表格
            , upload = layui.upload //上传
            , element = layui.element //元素操作
            , slider = layui.slider //滑块
            ,form = layui.form
        //监听Tab切换
        element.on('tab(demo)', function (data) {
            layer.tips('切换了 ' + data.index + '：' + this.innerHTML, this, {
                tips: 1
            });
        });

        //执行一个 table 实例
        var userTable = table.render({
            elem: '#demo'
            , height: 420
            , url: '/admin/users/pageList' //数据接口
            , title: '数据表'
            , page: true
            , toolbar: 'default' //开启工具栏，此处显示默认图标，可以自定义模板，详见文档
            , cols: [ [
                {type: 'checkbox', fixed: 'left', align: 'center'}
                , {field: 'id', title: 'ID', fixed: 'left', unresize: true, sort: true, align: 'center'}
                , {field: 'userName', title: '用户名', edit: 'text', align: 'center'}
                , {field: 'realName', title: '真实名', edit: 'text', align: 'center'}
                , {field: 'userType', title: '用户类型', edit: 'text', sort: true, align: 'center'}
                , {
                    field: 'sex', title: '性别', align: 'center', templet: function (res) {
                        return res.sex == 1 ? '男' : '女'
                    }
                }
                , {field: 'age', title: '年龄', align: 'center'}
                , {field: 'birthday', title: '生日', sort: true, align: 'center'}
                , {field: 'positions', title: '职位', align: 'center'}
                , {field: 'mobile', title: '手机号码', sort: true, align: 'center'}
                , {
                    field: 'email', title: '邮箱', templet: function (res) {
                        return '<em>' + res.email + '</em>'
                    }
                }
                , {
                    field: 'deleted', title: '是否删除', align: 'center', templet: function (res) {
                        return res.deleted == 1 ? '删除' : '未删除'
                    }
                }
                , {field: 'loginCount', title: '登录次数'}
                , {field: 'lastLoginIp', title: '最后登录的ip', align: 'center'}
                , {field: 'lastLoginTime', title: '最后登陆时间', align: 'center'}
                , {field: 'createTime', title: '注册时间', align: 'center'}
                , {fixed: 'right', title: '操作', toolbar: '#barDemo', align: 'center'}
            ] ]
        });

        console.log(userTable);
        //监听头工具栏事件
        table.on('toolbar(test)', function (obj) {
            var checkStatus = table.checkStatus(obj.config.id)
                , data = checkStatus.data; //获取选中的数据
            switch (obj.event) {
                case 'add':
                    layer.open({
                        //layer提供了5种层类型。可传入的值有：0（信息框，默认）1（页面层）2（iframe层）3（加载层）4（tips层）
                        type: 2,
                        title: "添加用户",
                        shade: 0.5,//遮罩
                        shadeClose: true,
                        btn: ['关闭'],
                        area: ['70%', '70%'],
                        content: '/login/add',
                        /*end:function(){  //层销毁后触发的回调。数据表格重载
                            userTable.reload({
                                url:'/admin/users/pageList',
                            });
                        }*/
                        yes: function (index, layero) {
                            userTable.reload({
                                url: '/admin/users/pageList',
                            });
                            layer.close(index); //如果设定了yes回调，需进行手工关闭
                        }
                    });
                    break;

                case 'update':
                    if (data.length === 0) {
                        layer.msg('请选择一行');
                    } else if (data.length > 1) {
                        layer.msg('只能同时编辑一个');
                    } else {
                        var minindex = layer.open({
                            //layer提供了5种层类型。可传入的值有：0（信息框，默认）1（页面层）2（iframe层）3（加载层）4（tips层）
                            type: 2,
                            title: "修改课程",
                            shade: 0.5,//遮罩
                            shadeClose: true,
                            btn: ['关闭'],
                            area: ['70%', '70%'],
                            content: '/login/update?id=' + checkStatus.data[0].id,

                            /* end:function(){  //层销毁后触发的回调。数据表格重载
                                 userTable.reload({
                                     url: '/admin/users/pageList',

                                 });
                             }*/
                            success: function (index) {

                                userTable.reload({
                                    url: '/admin/users/pageList',

                                });
                            }
                        });
                    }
                    break;
                case 'delete':
                    if (data.length === 0) {
                        layer.msg('请选择一行');
                    } else {
                        layer.msg('删除');
                    }
                    break;
            }
            ;
        });

        //监听行工具事件
        table.on('tool(test)', function (obj) { //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
            var data = obj.data //获得当前行数据
                , layEvent = obj.event; //获得 lay-event 对应的值
            if (layEvent === 'detail') {
                layer.msg('查看操作');
            } else if (layEvent === 'del') {
                layer.confirm('真的删除行么', function (index) {
                    obj.del(); //删除对应行（tr）的DOM结构
                    layer.close(index);
                    //向服务端发送删除指令
                    $.post("/admin/users/delete", {id: data.id}, function (s) {
                        alert()
                    })
                });
            } else if (layEvent === 'edit') {
                layer.msg('编辑操作');
            }
        });

        //分页
        laypage.render({
            elem: 'pageDemo' //分页容器的id
            , count: 100 //总页数
            , skin: '#1E9FFF' //自定义选中色值
            //,skip: true //开启跳页
            , jump: function (obj, first) {
                if (!first) {
                    layer.msg('第' + obj.curr + '页', {offset: 'b'});
                }
            }
        });

        //上传
        upload.render({
            elem: '#uploadDemo'
            , url: '' //上传接口
            , done: function (res) {
                console.log(res)
            }
        });

        //滑块
        var sliderInst = slider.render({
            elem: '#sliderDemo'
            , input: true //输入框
        });
        var $ = layui.$, active = {
            reload: function () {
                var starttime = $('#starttime');
                var endtime = $('#endtime');
                var id = $('#id');
                var username = $('#userName')
                var age = $('#age')
                var deleted = $('#deleted')
                //执行重载
                table.reload('demo', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    , where: {
                        'startTime': starttime.val(),
                        'endTime': endtime.val(),
                        'id': id.val(),
                        'userName': username.val(),
                        'age': age.val(),
                        'deleted':deleted.val()
                    }
                });
            }
        }
        laydate.render({
            elem: '#starttime'
        });
        laydate.render({
            elem: '#endtime'
        });

        $('.demoTable .layui-btn').on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
    });
</script>
</html>