<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ssss</title>
    <link rel="stylesheet" th:href="@{/static/layui/2.5.4/css/layui.css}" media="all" />
</head>
<body>
<div id="123">

</div>
<div class="layui-form-item magb0">
    <label class="layui-form-label">文章内容</label>
    <div class="layui-input-block">
        <textarea class="layui-textarea layui-hide" name="content" lay-verify="content" id="news_content"></textarea>
    </div>
</div>

<div class="layui-right">
    <a class="layui-btn layui-btn-sm" lay-filter="addNews" lay-submit><i class="layui-icon">&#xe609;</i>发布</a>
</div>


</body>


<script th:src="@{/static/layui/2.5.4/lay/modules/jquery.js}"></script>
<script type="text/javascript" th:src="@{/static/layui/2.5.4/layui.all.js}"></script>

<script>
    layui.use(['form','layedit','laydate','upload'],function(){
        var form = layui.form
            laypage = layui.laypage,
            upload = layui.upload,
            layedit = layui.layedit,
            laydate = layui.laydate,
            $ = layui.jquery;

        //用于同步编辑器内容到textarea
        layedit.sync(editIndex);

        //自定义工具栏
        //构建一个默认的编辑器
        var editIndex = layedit.build('news_content', {
            tool: [
                'strong' //加粗
                ,'italic' //斜体
                ,'underline' //下划线
                ,'del' //删除线
                ,'|' //分割线
                ,'left' //左对齐
                ,'center' //居中对齐
                ,'right' //右对齐
                ,'link' //超链接
                ,'unlink' //清除链接
                ,'face' //表情
                // ,'help' //帮助
            ]
            ,height: 150
            ,width:300
        })

        form.on("submit(addNews)",function(data){
                $.post("/skip/bb",{
                    content : layedit.getContent(editIndex).split('<audio controls="controls" style="display: none;"></audio>')[0], //文章内容
                    photo: $('.photo').val()
                },function(res){
                    $("#123").append(res);
                })
                // setTimeout(function(){
                //     top.layer.close(index);
                //     top.layer.msg("文章添加成功！");
                //     layer.closeAll("iframe");
                //     //刷新父页面
                //     parent.location.reload();
                // },500);
                // return false;
            })





    })

</script>

</html>