<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/static/layui/2.5.4/css/layui.css}" media="all" />
    <link rel="stylesheet" th:href="@{/static/layui/2.5.4/css/index.css}" />
</head>
<body>
<table class="layui-hide" id="test" lay-filter="test"></table>

<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="getCheckData">获取选中行数据</button>
        <button class="layui-btn layui-btn-sm" lay-event="getCheckLength">获取选中数目</button>
        <button class="layui-btn layui-btn-sm" lay-event="isAll">验证是否全选</button>
    </div>
</script>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
</body>
<script th:src="@{/static/layui/2.5.4/lay/modules/jquery.js}"></script>
<script type="text/javascript" th:src="@{/static/layui/2.5.4/layui.js}"></script>
<script th:src="@{/static/layui/2.5.4/index.js}"></script>
<script th:src="@{/static/layui/2.5.4/cache.js}"></script>
<script>
    layui.use('table', function(){
        var table = layui.table;

        table.render({
            elem: '#test'
            ,url:'/admin/users/list'
            ,toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板
            ,defaultToolbar: ['filter', 'exports', 'print', { //自定义头部工具栏右侧图标。如无需自定义，去除该参数即可
                title: '提示'
                ,layEvent: 'LAYTABLE_TIPS'
                ,icon: 'layui-icon-tips'
            }]
            ,title: '用户数据表'
            ,cols: [ [
                {type: 'checkbox', fixed: 'left',align:'center'}
                ,{field:'id', title:'ID',  fixed: 'left', unresize: true, sort: true ,align:'center'}
                ,{field:'userName', title:'用户名', edit: 'text' ,align:'center'}
                ,{field:'realName', title:'真实名',  edit: 'text' ,align:'center'}
                ,{field:'userType', title:'用户类型',  edit: 'text', sort: true,align:'center'}
                ,{field:'sex', title:'性别',align:'center', templet: function(res){
                        return res == 1 ? '男':'女'
                    }}
                ,{field:'age', title:'年龄' ,align:'center'}
                ,{field:'birthday', title:'生日',  sort: true ,align:'center'}
                ,{field:'positions', title:'职位',align:'center'}
                ,{field:'mobile', title:'手机号码', sort: true,align:'center'}
                ,{field:'email', title:'邮箱',templet: function(res){
                        return '<em>'+ res.email +'</em>'
                    }}
                ,{field:'loginCount', title:'登录次数'}
                ,{field:'lastLoginIp', title:'最后登录的ip',align:'center'}
                ,{field:'lastLoginTime', title:'最后登陆时间',align:'center'}
                ,{field:'createTime', title:'注册时间',align:'center'}
                ,{fixed: 'right', title:'操作', toolbar: '#barDemo',align:'center'}
            ] ]
            ,page: true
        });
    });
</script>
</html>